#Temporary files
*~

#Don't include any node modules directory
node_modules/

#Don't include this sample available at GitHub
simplegit-progit/

#Don't include this projects
Meteor/be-the-hero-with-meteor/
